In [58]:
import numpy as np
import pandas as pd

In [59]:
from sklearn import preprocessing , neighbors
from sklearn.model_selection import train_test_split

In [60]:
data = pd.read_csv(r'E:\Downloads\breast-cancer-wisconsin.data')

In [61]:
data.replace('?' , -99999 ,inplace = True)

In [62]:
data

,id,clump_thicknes,unif_cell_size,unif_cell_shape,marg_adhesion,single_eppith_cell_size,bare_nuclei,bland_chrom,norm_neucleoli,mitoses,class
0,1000025,5,1,1,1,2,1,3,1,1,2
1,1002945,5,4,4,5,7,10,3,2,1,2
2,1015425,3,1,1,1,2,2,3,1,1,2
3,1016277,6,8,8,1,3,4,3,7,1,2
4,1017023,4,1,1,3,2,1,3,1,1,2
...,...,...,...,...,...,...,...,...,...,...,...
694,776715,3,1,1,1,3,2,1,1,1,2
695,841769,2,1,1,1,2,1,1,1,1,2
696,888820,5,10,10,3,7,3,8,10,2,4
697,897471,4,8,6,4,3,4,10,6,1,4
698,897471,4,8,8,5,4,5,10,4,1,4

In [63]:
data.drop(['id'] , 1 ,inplace = True)

In [64]:
x = np.array(data.drop(['class'] , 1))
y = np.array(data['class'])

In [65]:
print(len(y))

699

In [66]:
x_train , x_test , y_train , y_test = train_test_split(x , y , test_size = 0.2)

In [67]:
print(len(x_test))

140

In [68]:
classifier = neighbors.KNeighborsClassifier()

In [69]:
classifier.fit(x_train , y_train)

KNeighborsClassifier(algorithm='auto', leaf_size=30, metric='minkowski',
                     metric_params=None, n_jobs=None, n_neighbors=5, p=2,
                     weights='uniform')

In [70]:
prediction = classifier.predict(x_test)

In [71]:
accuracy = classifier.score(x_test , y_test)
accuracy

0.9642857142857143

In [72]:
prediction

array([4, 2, 2, 2, 4, 4, 2, 2, 2, 4, 2, 2, 2, 2, 2, 4, 2, 2, 2, 4, 4, 2,
       2, 2, 2, 2, 4, 2, 4, 4, 2, 2, 2, 4, 4, 4, 2, 2, 2, 4, 2, 2, 4, 2,
       4, 4, 2, 2, 2, 2, 2, 2, 2, 4, 2, 4, 2, 2, 4, 2, 2, 2, 2, 4, 4, 4,
       2, 4, 4, 4, 2, 2, 2, 4, 4, 2, 2, 2, 2, 4, 4, 2, 4, 2, 4, 2, 4, 2,
       2, 4, 2, 4, 2, 4, 2, 2, 4, 2, 2, 4, 2, 4, 2, 2, 2, 2, 2, 2, 2, 4,
       2, 4, 2, 2, 2, 2, 2, 4, 2, 2, 2, 2, 2, 4, 2, 2, 4, 2, 4, 4, 2, 2,
       2, 2, 4, 2, 2, 2, 2, 4], dtype=int64)